{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
   <title>Preskool - Teachers</title>

   <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap">
   <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>

   <!-- Main Wrapper -->
   <div class="main-wrapper">

      <!-- Header -->
      <div class="header">
         <div class="header-left">
            <a href="{% url 'school:dashboard' %}" class="logo">
               <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
            </a>
         </div>
         <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
         </a>
         <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
         </a>
         <ul class="nav user-menu">
            <li class="nav-item dropdown has-arrow">
               <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                  <span class="user-img">
                     <img class="rounded-circle" src="{% static 'assets/img/profiles/avatar-01.jpg' %}" width="31" alt="User">
                  </span>
               </a>
               <div class="dropdown-menu">
                  <div class="user-header">
                     <div class="avatar avatar-sm">
                        <img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User" class="avatar-img rounded-circle">
                     </div>
                     <div class="user-text">
                        <h6>{{ request.user.get_full_name }}</h6>
                        <p class="text-muted mb-0">{{ request.user.role|title }}</p>
                     </div>
                  </div>
                  <a class="dropdown-item" href="#">My Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="{% url 'home_auth:logout' %}">Logout</a>
               </div>
            </li>
         </ul>
      </div>
      <!-- /Header -->

      <!-- Sidebar -->
      <div class="sidebar" id="sidebar">
         <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
               <ul>
                  <li class="menu-title"><span>Main Menu</span></li>
                  <li><a href="{% url 'school:dashboard' %}"><i class="fas fa-tachometer-alt"></i> <span> Dashboard</span></a></li>
                  
                  <li class="submenu">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'student:student-list' %}">Student List</a></li>
                        <li><a href="{% url 'student:add-student' %}">Student Add</a></li>
                        {% if student %}
                           <li><a href="{% url 'student:student-detail' student.student_id %}">Student View</a></li>
                           <li><a href="{% url 'student:edit-student' student.student_id %}">Student Edit</a></li>
                        {% endif %}
                     </ul>
                  </li>

                  <li class="submenu active">
                     <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'teacher:list-teachers' %}" class="active">Teacher List</a></li>
                        <li><a href="{% url 'teacher:add-teacher' %}">Teacher Add</a></li>
                        {% if teacher %}
                           <li><a href="{% url 'teacher:teacher-detail' teacher.teacher_id %}">Teacher View</a></li>
                           <li><a href="{% url 'teacher:edit-teacher' teacher.teacher_id %}">Teacher Edit</a></li>
                        {% endif %}
                     </ul>
                  </li>

                  <li class="submenu">
                     <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'department:list-department' %}">Department List</a></li>
                        <li><a href="{% url 'department:add-department' %}">Department Add</a></li>
                        {% if department %}
                           <li><a href="{% url 'department:edit-department' department.department_id %}">Department Edit</a></li>
                        {% endif %}
                     </ul>
                  </li>

                  <li class="submenu">
                     <a href="#"><i class="fas fa-book"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'subject:list-subject' %}">Subject List</a></li>
                        <li><a href="{% url 'subject:add-subject' %}">Subject Add</a></li>
                        {% if subject %}
                           <li><a href="{% url 'subject:edit-subject' subject.subject_id %}">Subject Edit</a></li>
                        {% endif %}
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper">
         <div class="content container-fluid">
            <div class="page-header">
               <div class="row">
                  <div class="col-sm-12">
                     <h3 class="page-title">Teachers</h3>
                     <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'school:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Teachers</li>
                     </ul>
                  </div>
               </div>
            </div>

            <!-- Teacher List Table -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="card card-table">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table class="table table-hover table-center mb-0">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th class="text-end">Actions</th>
                                 </tr>
                              </thead>
                              <tbody>
                                    {% for teacher in teachers %}
                                    <tr>
                                        <td>{{ teacher.id }}</td>
                                        <td>{{ teacher.user.get_full_name }}</td>
                                        <td>{{ teacher.department_id.name }}</td>
                                        <td>{{ teacher.user.email }}</td>
                                        <td>{{ teacher.mobile }}</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a href="{% url 'teacher:teacher-detail' teacher.id %}" class="btn btn-sm bg-success-light me-2">
                                                <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="{% url 'teacher:edit-teacher' teacher.id %}" class="btn btn-sm bg-warning-light me-2">
                                                <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="{% url 'teacher:delete-teacher' teacher.id %}" class="btn btn-sm bg-danger-light">
                                                <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Teacher List Table -->

         </div>
      </div>
      <!-- /Page Wrapper -->

   </div>
   <!-- /Main Wrapper -->

   <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
   <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'assets/js/script.js' %}"></script>

</body>
</html>
