{% extends 'school/base.html' %}
{% load static %}
{% block title %}Students - School Management System{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Students</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Students</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                    <a href="{% url 'student:add-student' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>DOB</th>
                                        <th>Parent Name</th>
                                        <th>Mobile Number</th>
                                        <th>Address</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td>{{ student.student_id }}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'student:student-detail' student.student_id%}" class="avatar avatar-sm mr-2">
                                                    {% if student.student_image %}
                                                        <img class="avatar-img rounded-circle" src="{{ student.student_image.url }}" alt="User Image">
                                                    {% else %}
                                                        <img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/default.png' %}" alt="User Image">
                                                    {% endif %}
                                                </a>
                                                <a href="{% url 'student:student-detail' student.student_id %}">
                                                    {{ student.first_name }} {{ student.last_name }}
                                                </a>
                                            </h2>
                                        </td>
                                        <td>{{ student.student_class }}</td>
                                        <td>{{ student.date_of_birth|date:"d M Y" }}</td>
                                        <td>{{ student.parent.father_name }} / {{ student.parent.mother_name }}</td>
                                        <td>{{ student.mobile_number }}</td>
                                        <td>{{ student.parent.present_address|truncatewords:5 }}</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="{% url 'student:edit-student' student.student_id %}" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="{% url 'student:delete-student' student.student_id%}" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="8" class="text-center">No students found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright © 2025 School Management System.</p>
    </footer>
</div>
{% endblock %}
